
/* todo - use include */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400');

body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 120%;
}


.⭐️ {
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #0097FF;
  padding-left: 1em
}

.⭐️ > span {
  display: block;
}

.⭐️ > span > span {
  font-weight: 200
}

.📅 {
  font-weight: 200;
  font-size: .8em;
}

.📅 > span {
  display: block;
}

body {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-gap: 2vmax;
  max-width: 50em;
  margin: auto;
}

.🔝 {
  text-align: right;
  grid-column: 1;
  grid-row: 1;
  transform: rotate(-1deg);
}

main {
  grid-column: 2;
  grid-row: 2;
  padding-right: 1em;
  transform: rotate(.5deg);
}


@media (max-width: 700px) {
  body {
    display: block;
  }

  .🔝 {
    width: 60vw;
    margin: auto;
  }

  main {
    margin: 4em 6vw;
    padding: 0;
  }
}

hr {
  border: none;
  border-bottom: 1px solid #0097FF;
  width: 50%;
  margin: 3em 5vh;
}


.👏:before {
  content: '→ '
}

.🤷‍♀️ {
  font-size: 0.75em;
  opacity: 0.4;
  background: rgba(255,0,150, 0.2)
}

a {
  color: #f08;
  text-decoration: none
}

a:hover{
  text-decoration: underline;
}

.🔗s {
  padding: 0;
  list-style: none;
}

footer {
  font-size: 0.8em;
  margin-top: 8em;
  text-align: right;
}
